@font-face{
    font-family: Product-Sans-Regular; 
    src: url('../../../assets/fonts/product-sans/Product\ Sans\ Regular.ttf');
}
#footerWrapper{
    width: 100%;
    overflow: hidden;
    height: 1%;
    background-color: #5c6980;
}
#footerContent{
    padding: 70px 0px 20px 0px;
    color: #f0f0f0;
}
#footerCopyRight {
    padding-top: 10px;
    padding-left: 100px;
    display: inline-block;
}
#footerText{
    display: inline-block;
    font-weight: 300;
    font-family: 'Product-Sans-Regular';
}
#footerBorderLine {
    width: 85%;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}
@media screen and (max-width: 1024px) {
    #footerContentText {
        text-align: center;
    }
    #footerCopyRight {
        padding-left: 0px;
    }
}