#loading-bar{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
	text-align: justify;
	text-align-last: justify;
    letter-spacing: -0.1em;
    color: #EEA47FFF;
    font-weight:500;
}
.h {
    font-weight:600;
    color: #368bc1;
}